/* --------------------------------- */
/* Popup */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, .5);
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr max-content 1fr;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s linear;
}


.popup__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, .5);
    /*display: grid;*/
    /*grid-template: 1fr 1fr 1fr / 1fr max-content 1fr;*/
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s linear;
}

.popup__info {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr max-content 1fr;
}

.popup__overlay_active {
    /*animation: popup-menu_visible .5s linear both;*/
    /*transform: translateX(-50%);*/
    visibility: visible;
    opacity: 1;
    /*transition: all .5s linear;*/
}

.popup__form {
    position: relative;
    z-index: 100;
    background: #f1f1f5;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr max-content 1fr;


    min-height: 50vh;
    width:  calc((100vw - (100vw - 1240px)) / 100 * 75);
    margin: 0;
    padding: 0;
    grid-row: 2/3;
    grid-column: 2/3;
    box-sizing: border-box;
    border: 2px solid #2699cc;
    visibility: hidden;
    opacity: 0;
}


.popup__form_active {
    /*animation: popup-menu_visible .5s linear both;*/
    /*transform: translateX(-50%);*/
    visibility: visible;
    opacity: 1;
    /*transition: all .5s linear;*/
}

.popup__content {
    margin: 0;
    padding: 10px;
    /*border: 1px solid #2699cc;*/
}

.popup__close {
    position: absolute;
    /*background: url('/image/close_icon.svg') no-repeat center;*/
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;

    /*width: 20px;*/
    /*height: 20px;*/
    /*margin: 0;*/
    /*padding: 0;*/
    top: 30px;
    right: 30px;
    border: none;
    outline: none;
    color: #000000;
    cursor: pointer;
    /*transform: rotate(45deg);*/
}

.popup__close:hover {
    opacity: .6;
}

/*.popup-menu_visible {*/
/*    animation: popup-menu_visible .5s linear both;*/
/*}*/


@-webkit-keyframes popup-menu_visible {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}


.popup-burger__active {
    /*animation: popup-menu_visible .5s linear both;*/
    transform: translateX(-50%);
    visibility: visible;
    opacity: 1;
    transition: all .5s linear;
}


.popup__burger-menu {
    z-index: 200;
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    background-color: rgb(218, 222, 222);
    padding: 30px;
    transition: right 1s ease 0s;
}

.burger__close {
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    background-color: rgb(218, 222, 222);
}


.popup__burger-menu._active {
    /*visibility: visible;*/
    /*opacity: 1;*/
    right: 0;
}